In [ ]:
datetimetoday = dt.datetime.now()

In [ ]:
print(todaydate)

In [ ]:
type(datetimetoday)

In [1]:
print(dt.datetime(2000, 12, 31))

NameError: name 'dt' is not defined

In [2]:
print(pd.to_datetime('2001-12-31'))

NameError: name 'pd' is not defined

In [3]:
print(pd.to_datetime('12-31-2001'))

NameError: name 'pd' is not defined

In [ ]:
try:
    pd.to_datetime('Saturday, Jaunary 1, 2022', format= '%A, %B %d, %y')
except:
    print('error')

In [ ]:
pd.to_datetime('Dec\\31\\2021', format='%b\%d\%Y')

In [ ]:
#pd.reads_csv() function has a date_format parameter -> this goes to show that you can do transformation on date values at ingestion / read time

In [ ]:
df = pd.read_csv('test.csv',
                 parse_dates=['Date'],
                 date_format='%b*%d*%Y' # assuning date is coming as JAN*31*2024
                )

In [ ]:
# generate dates easily
df = pd.DateFrame(pd.date_range(start='2021-01-01', end='2021-02-01'), columns=['Date'])

In [ ]:
df.info()

In [ ]:
df['days in month'] = df['Date'].dt.days_in_month
df['day name'] = df['Date'].dt.day_name()

#format parameter in to_datetime function allows us to provide guidance/ instruction

In [ ]:
pd.to_datetime(['something 2021', 'Jan 1, 2021'], errors='coerce') # anything not a date should be converted to 'NaT'
# panda infers the format of each date individually if strings in the list are all of different formats

In [ ]:
pd.to_datetime(['Dec 2021', 'Jan 1, 2021', 'April 1, 2021', '12/31/2021'], errors='coerce') # if no value for day is provided, python automatically assumes that the value for day is 1

In [ ]:
import numpy as np

In [ ]:
pd.Date

In [ ]:
# adding additional null values that the pandas isna() method may not be able to pick up:

new = pd.read_csv('missing.csv', date_format='%b*%d*%Y', index_col='Date', na_values ={'<NO>', '?'})

In [ ]:
import time

In [ ]:
time.time() # epoch time calculates the time starting from Jan 1, 1970, specifically how many seconds have elapsed since then, time() will give you seconds in UTC

In [ ]:
t = pd.to_datetime(____________, unit='s')
#running the above returns a value in Timestamp format
# ________ represents a value in epoch time

In [ ]:
import datetime as dt

In [ ]:
print(dt.datetime.now())

In [ ]:
t.tz_localize('UTC').tz_convert('US/Pacific') # to_localize() adds the extra information whereas tz_convert actually converts the time